{% extends 'page.html.twig' %} {% block content %} 
{% if showDataTable %}
<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css"/>
<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#showAllSources').DataTable();
    });
</script>
{% endif %}
<table class="table table-sm table-bordered table-hover table-responsive" id="showAllSources">
    <thead thead-light>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Текст for home page</th>
            <th scope="col">Дата</th>
         </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for key, val in record %}
            <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}