{% extends 'page_root.html.twig' %} 
{% block content %}
<div class="jumbotron" id="chrono_jumbotron">
    <div class="col mx-auto">
        <h4 class="chrono header" id="chrono_header">{{ header }}</h4>
<!-- accordion -->
<div id="accordion">

    <div class="card">
      <div class="card-header py-0" id="heading1">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2852 до н.э. — 2737 до н.э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  Тай Хао - Небесный Император (天皇) или Фу Си (伏羲)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
              <p class="chrono names"><i>Кит.:</i> 天皇 / 伏羲, <i>Пиньинь:</i> Tiānhuáng / Fúxī, <i>Англ.:</i> Heavenly Sovereign or Fu Xi</p>
                  <p class="chrono desc">Фу Си (кит. упр. 伏羲, пиньинь fúxī или 宓犧, 虙羲) (иначе Паоси (кит. трад. 庖犧, упр. 庖牺, пиньинь páoxī), Тай хао (кит. 太昊)) — легендарный первый император Китая (Поднебесной), божество — повелитель Востока.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Фу_Си">Фу_Си</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading2">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2737 до н. э. — 2699 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  Ди Хуан - Владыка Земли (地皇) или Nuwa (女媧)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 地皇 / 女媧, <i>Пиньинь:</i> Dìhuáng / Nüwa, <i>Англ.:</i> Earthly Sovereign or Nüwa</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://en.wikipedia.org/wiki/Earthly_Sovereign">Earthly_Sovereign</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading3">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2699 до н. э. — 2588 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  Тай Хуан - Божественный земледелец (泰皇) или Шэньнун (神農)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 泰皇 / 神農, <i>Пиньинь:</i> Tiāhuáng / Shennong, <i>Англ.:</i> Tai Sovereign or Shennong</p>
                  <p class="chrono desc">Шэнь-нун (кит. упр. 神农, пиньинь Shénnóng, божественный земледелец) — в китайской мифологии один из важнейших культурных героев, покровитель земледелия и медицины, один из Трёх Великих. Его называют также Яньди (кит. 炎帝, «огненный император») и Яован (кит. упр. 药王, пиньинь Yàowáng) — «царь лекарств». Шэнь-нуну приписывают создание календаря природы (сельскохозяйственного календаря) и классического фармологического сочинения о травах и лекарственных препаратах Шэньнун бэньцаоцзин (кит. упр. 神农本草经, пиньинь Shénnóng běncǎojīng, «Трактат Шэнь-нуна о корнях и травах»).</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Шэнь-нун">Шэнь-нун</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading4">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2587 до н. э. — 2491 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                              Желтый император (黃帝)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 黃帝, <i>Пиньинь:</i> Huángdì, <i>Англ.:</i> Yellow Emperor</p>
                  <p class="chrono desc">Хуан-ди, или Жёлтый император (кит. упр. 黃帝, пиньинь huángdì, др. кит. произн. **ɡʷaaŋ — k-leeɡs), — легендарный правитель Китая и мифический персонаж, который считается также основателем даосизма и первопредком всех китайцев.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Хуан-ди">Хуан-ди</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading5">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2490 до н. э. — 2413 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                              Император Чжуань-Сюй (顓頊)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 顓頊, <i>Пиньинь:</i> Zhuānxū, <i>Англ.:</i> Zhuanxu</p>
                  <p class="chrono desc">Чжуань-сюй (кит. 顓頊), также известный как Гао-ян (高陽) — один из Пяти императоров, мифический правитель Древнего Китая, почитаемый как первопредок, также упоминается как бог Полярной звезды. Легендарной эпохой его правления считаются 2514—2436 годах до н. э.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Чжуань-сюй">Чжуань-сюй</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading6">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2412 до н. э. — 2343 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                              Император Ку (嚳)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 嚳, <i>Пиньинь:</i> Dì Kù, <i>Англ.:</i> Emperor Ku</p>
                  <p class="chrono desc">Ку (кит. 喾; иногда Ди-ку) — мифический император Древнего Китая, один из Пяти легендарных императоров. Имел прозвище Гаосин. Годами его правления считается период с 2436 по 2366 годы до н. э.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Ку_(император)">Император Ку</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading7">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2333 до н. э. — 2234 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                              Император Яо (堯)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 堯, <i>Пиньинь:</i> Yáo, <i>Англ.:</i> Emperor Yao</p>
                  <p class="chrono desc">Яо (кит. 堯 — Высоченный, 2376 – 2255 годы до н.э.) — легендарный китайский император, 4-й из «Пяти Древних Императоров», сочетавший в своём образе божественные и человеческие черты. Носил также имена И Ци (伊 祁) или Ци (祁) – родовое имя; получил титул Тао Танг (陶唐); также - Фан Сюнь (放 勳), как второй сын императора Ку; и также - Тан Яо (唐堯). Матери Яо поклонялись как богине Яо Му</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Яо_(император)">Император Яо</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading9">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">2233 до н. э. — 2184 до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                              Император Шунь (舜)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 舜, <i>Пиньинь:</i> Dìshùn, <i>Англ.:</i> Emperor Shun</p>
                  <p class="chrono desc">Шунь (кит. упр. 舜, пиньинь Shùn) — легендарный китайский император, согласно преданиям живший в XXIII веке до н. э., последний из «Пяти Древних Императоров».</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Шунь">Император Шунь</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading10">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">~ 21 в. до н. э. — ~ 16 в. до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                              Эпоха Ся
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 夏, <i>Пиньинь:</i> Xià, <i>Англ.:</i> Xia Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Sì (姒) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Аньи (Сясянь, пров. Шаньси)</p>
                  <p class="chrono desc">Ся (кит. 夏朝, пиньинь xià cháo) — легендарная династия, согласно традиционным представлениям, правившая в древнем Китае, в период с 2070 год до н. э. по 1765 год до н. э. Другая версия относит правление династии к 2700 году до н. э. Китайские археологи нередко связывают династию Ся с археологической культурой Эрлитоу. На территории, отождествляемой с Ся, в эпоху Восточное Чжоу располагалось царство Цзинь.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Ся_(династия)">Эпоха Ся</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading11">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">~ 16 в. до н. э. — ~ 11 в. до н. э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                              Эпоха Шан (Династия Шан-Инь)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 商, <i>Пиньинь:</i> Shāng, <i>Англ.:</i> Shang Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Zǐ (子) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Бо (Шанцю, пров. Хэнань)</p>
                  <p class="chrono desc">Государство Шан (кит.: 商朝), альтернативные названия государство Инь (кит.: 殷代) или государство Шан-Инь — раннее царство, существовавшее с 1554 по 1046 год до нашей эры в землях к северу от выхода реки Хуанхэ на Великую китайскую равнину. Государство Шан предшествовало государству Чжоу.
                </p><p class="chrono desc">Шан является первым китайским государственным образованием, реальность существования которого подтверждена не только археологическими находками, но также повествовательными и эпиграфическими письменными источниками. Наиболее подробное описание истории Шан содержится в сочинении Сыма Цяня «Исторические записки». В результате раскопок были обнаружены цзягувэнь — иероглифические надписи на панцирях черепах и гадательных костях животных, а также бронзовых, нефритовых, керамических, каменных изделиях. Большое число находок было сделано на территории столицы Иньсюй (кит. трад. 殷墟, пиньинь Yīnxū, палл. Иньсюй), которая была расположена в районе современного города Аньян в провинции Хэнань. Территория древнего города включена в список всемирного наследия ЮНЕСКО.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Шан_(династия)">Эпоха Шан</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading12">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">~ 11 в. до н. э. — 771 до н.э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                              Эпоха Чжоу, Ранняя (Западная) Чжоу
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 西周, <i>Пиньинь:</i> Xī Zhōu, <i>Англ.:</i> Western Zhou Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Jī (姬) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Хаоцзин (Чанъань, пров. Шэньси)</p>
                  <p class="chrono desc">Западная Чжоу — раннее царство в Китае, период Западного Чжоу выделяют как начальный период эпохи Чжоу. Династия является правящей с 1045 по 770 год до н. э.. Столица — город Фэнхао.
                </p><p class="chrono desc"> 
  История и жизнь Западного Чжоу известна по классическим трактатам «Чжоули» — Чжоуские ритуалы, «Шу-Цзин» — Книга Истории, «Ши-Цзин» — Книга Песен, «И-Цзин» — гадательная Книга Перемен, дополнительно имеются многочисленные надписи на бронзовых сосудах.
</p><p class="chrono desc"></p>  
  Стабильная хронология начинается с 841 года до н. э., с этой даты история достаточно аккуратно прослеживается в Исторических записках (Шицзи) Сыма Цяня и других летописях.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Западная_Чжоу_(династия)">Ранняя (Западная) Чжоу</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading13">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">770 до н.э. — 256 до н.э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
                              Эпоха Чжоу, Поздняя (Восточная) Чжоу
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 東周 / 东周, <i>Пиньинь:</i> Dōng Zhōu, <i>Англ.:</i> Eastern Zhou Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Jī (姬) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Лоян (пров. Хэнань)</p>
                  <p class="chrono desc">Восточная Чжоу (кит. 东周) — царская (ван 王) династия Цзи (姬) в Китае, правившая царством Чжоу с 770 по 256 год до н. э. после переноса его столицы в Лои (кит. 洛邑) (современный Лоян (кит. 洛阳市) ). Правление этой династии выделяют как конечный период эпохи Чжоу.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Восточная_Чжоу_(династия)">Поздняя (Восточная) Чжоу</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading14">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">770 до н.э. — 476 до н.э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
                              Эпоха Чжоу, Период Чуньцю (Весны и Осени)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 春秋, <i>Пиньинь:</i> Zhànguó, <i>Англ.:</i> Spring and Autumn Period</p>
                  <p class="chrono capital"><i>Столица:</i> Лоян (пров. Хэнань)</p>
                  <p class="chrono desc">Период Вёсен и Осеней (также период Чуньцю, кит. упр. 春秋时代, пиньинь Chūnqiū shídài, палл. Чуньцю шидай) — период китайской истории с 722 по 481 год до н. э., соответствующий летописи Чуньцю («Вёсны и осени»), составителем которой считают Конфуция. Этот период относят к началу династии Восточная Чжоу. История периода известна по «Цзочжуань», — тексту, составленному в виде комментариев на хронику «Чуньцю». Другими источниками являются «Го юй», «Ши цзи», а также многочисленные археологические находки.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Период_Вёсен_и_Осеней">Период Чуньцю (Весны и Осени)</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading15">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">475 до н.э. — 221 до н.э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                              Эпоха Чжоу, Период Чжаньго (Воюющих царств)
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 戰國 / 战国,  <i>Англ.:</i> Warring States Period</p>
                  <p class="chrono capital"><i>Столица:</i> Лоян (пров. Хэнань)</p>
                  <p class="chrono desc">Период Сражающихся царств (кит. трад. 戰國時代, упр. 战国时代, пиньинь Zhànguó Shídài, палл. Чжаньго шидай) — период китайской истории от V века до н. э. до объединения Китая императором Цинь Шихуанди в 221 до н. э. Этот период следует за периодом Вёсен и Осеней (Чуньцю) и считается частью правления династии Восточная Чжоу, хотя династия Чжоу прекратила существование в 256 до н. э., на 35 лет раньше создания империи Цинь и окончания данного периода.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Период_Сражающихся_царств">Период_Сражающихся_царств</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading16">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">221 до н.э. — 206 до н.э.</div>
                  <div class="col-sm-8  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapse16">
                              Династия Цинь
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 秦, <i>Пиньинь:</i> Qín, <i>Англ.:</i> Qin Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Yíng (嬴) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Сяньян (пров. Шэньси)</p>
                  <p class="chrono desc">Империя Цинь (кит. упр. 秦朝, пиньинь Qín Cháo, палл. Цинь чао) — самая первая империя в истории Китая.Основатель империи — Ши Хуанди — объединил Китай под своей властью в 221 до н. э., разделив страну на 36 провинций, управлявшихся чиновниками, назначаемыми императором. Император Цинь Шихуан создал централизованное, управляемое государство на основе легизма, при этом проводились репрессии против сторонников конфуцианства: так, в 213 до н. э. был издан указ о сожжении недозволенных сочинений, находящихся в частном владении, а в 212 до н. э. (это недостоверно) были казнены 460 конфуцианцев и значительное число было «сослано на границы».</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Цинь_(империя)">Династия Цинь</a></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header py-0" id="heading20">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">206 до н.э. — 8 г. н. э.</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="true" aria-controls="collapse20">
                              Династия Хань, Ранняя (Западная) Хань
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 西漢 / 西汉 / 西汉, <i>Пиньинь:</i> Xī Hàn, <i>Англ.:</i> Western Han Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Liú (劉 / 刘) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Чанъань (Сиань, пров. Шэньси)</p>
                  <p class="chrono desc">Империя Хань (кит. трад. 漢朝, упр. 汉朝, пиньинь Hàn cháo, палл. Хань чао; 206 до н. э. — 220 н. э.) — китайская империя, в которой правила династия Лю, и период истории Китая после империи Цинь перед эпохой Троецарствия. Свидетельством успеха ханьской внутренней политики стало то, что она просуществовала дольше любой другой империи в китайской истории. Её правление и институты послужили образцом для всех последующих. Более того, основная этническая группа китайцев по имени государства стала называться хань.
                </p><p class="chrono desc">  
  Правящую в империи Хань династию основал Лю Бан. Начальный период (206 до н. э. — 9 н. э.) со столицей Чанъань носит название ранней Хань (кит. 前漢) или западной Хань (кит. 西漢). </p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Империя_Хань">Империя Хань</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading21">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center"> 9-25</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="true" aria-controls="collapse21">
                              Династия Синь
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 新 / 西汉, <i>Пиньинь:</i> Xīn, <i>Англ.:</i> Xin Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Wáng (王) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Чанъань (Сиань, пров. Шэньси)</p>
                  <p class="chrono desc">Империя Синь (кит. 新朝 9—23) — китайская империя; промежуток в истории империи Хань, разделяющий её на эпоху Западной Хань и эпоху Восточной Хань.
                </p><p class="chrono desc">  
  Основателем был Ван Ман — тесть императора Пин-ди. Сначала он был назначен регентом, а затем принял титул императора Китая. Это произошло в 8 году н. э.. Проводимая Ван Маном политика, в частности, повышение налогов для крестьян и ремесленников, вызвала большое количество народных восстаний. В результате одного из них, известного, как восстание краснобровых, в 23 году император был свергнут. Произошло объединение Китая империей Восточная Хань.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Синь_(империя)">Синь (империя)</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading22">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">25 — 220</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse22" aria-expanded="true" aria-controls="collapse22">
                              Династия Хань, Поздняя (Восточная) Хань
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 東漢 / 东汉 / 西汉, <i>Пиньинь:</i> Dōng Hàn, <i>Англ.:</i> Eastern Han Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Liú (劉 / 刘) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Лоян (пров. Хэнань)</p>
                  <p class="chrono desc">Объединение Китая империей Восточная Хань (кит. упр. 东汉统一战争, 25-37) или Восстановление империи Хань — период китайской истории, когда в конце правления установленной узурпатором Ван Маном династии Синь страна развалилась на части, и была вновь объединена династией Хань.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Объединение_Китая_империей_Восточная_Хань">Поздняя (Восточная) Хань</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading25">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">220 — 265</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse25" aria-expanded="true" aria-controls="collapse25">
                              Эпоха Шести династий, Период Троецарствия, Царство Вэй
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse25" class="collapse" aria-labelledby="heading25" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 魏</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Cáo (曹) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Сюйчан (пров. Хэнань)</p>
                  <p class="chrono desc">Вэй (кит. 曹魏, пиньинь: Cáo Wèi) — одно из трёх царств Эпохи Троецарствия Китая, существовавшее в 220 г. — 266 г. Царство Вэй, вероятно, самое известное государство эпохи Троецарствия в Китае. Его основателем был бывший ханьский полководец Цао Цао (曹操). С ним тесно связана изначальная история государства Вэй.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Вэй_(Троецарствие)">Период Троецарствия, Царство Вэй</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading26">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">221 — 263</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse26" aria-expanded="true" aria-controls="collapse26">
                              Эпоха Шести династий, Период Троецарствия, Царство Шу
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse26" class="collapse" aria-labelledby="heading26" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 蜀</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Liú (劉 / 刘) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Чэнду (пров. Сычуань)</p>
                  <p class="chrono desc">Шу (кит. трад. 蜀漢, упр. 蜀汉, пиньинь Shǔ Hàn, палл. Шу Хань) — одно из трех царств Эпохи Троецарствия Китая, существовавшее в 221—263 годах. Основателем царства Шу был Лю Бэй (劉備), считавший себя продолжателем династии Хань.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Шу_(царство)">Период Троецарствия, Царство Шу</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading27">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">222 — 280</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse27" aria-expanded="true" aria-controls="collapse27">
                              Эпоха Шести династий, Период Троецарствия, Царство У
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse27" class="collapse" aria-labelledby="heading27" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 吴</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Sūn (孫 / 孙) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Цзянье (Нанкин, пров. Цзянсу)</p>
                  <p class="chrono desc">У (Восточная У) (кит. трад. 東吳, упр. 东吴, пиньинь Dōng Wú, палл. Дун У, вьетн. Đông Ngô, Донг Нго) — одно из трёх китайских царств Эпохи Троецарствия, существовавшее в 222 г. — 280 г. н. э. Название унаследовано от царства У эпохи Чуньцю.
                </p><p class="chrono desc">  
Начало царства У было положено военачальником Сунь Цэ (孫策), захватившим в конце II века, во время всеобщего восстания против династии Хань, Цзяндун (земли к югу от нижнего течения Янцзы). В 200 г. ему наследовал Сунь Цюань (孫權), который стал постепенно прибирать к своим рукам соседние области. В 208 г. в важном сражении у Чиби армия Сунь Цюаня в союзе с армией Лю Бэя (основателя царства Шу) нанесла поражение армии Цао Цао (основателя царства Вэй).
</p><p class="chrono desc"> 
В 219 г. Сунь Цюань смог отбить у Цао Цао Цзинчжоу, а через десять лет, в 229 г., он решил официально провозгласить себя императором. Сунь Цюань принял тронное имя Да-ди (大帝), а своё государство назвал У. Столицей его он сделал город Цзянье 建業 (современный Нанкин).
</p><p class="chrono desc"> 
Царство У, опираясь на такой важный и естественный рубеж как река Янцзы, создало речной флот и стало нападать на Вэй. В то же время оно стремилось распространить своё влияние на юг от Янцзы. Занимаемая У территория охватывала современные провинции в среднем и нижнем течении Янцзы, а также Фуцзянь, Гуандун и Гуанси.
</p><p class="chrono desc">  
Окраинное государство У просто не могло противостоять более богатому и процветающему северокитайскому царству Вэй (с 265 г. известно как Цзинь). В 280 г. в У вторглись сразу несколько армий Цзинь под командованием полководца Ду Юя 杜預. Цзиньский флот поддерживал сухопутные силы Ду Юя и практически блокировал флот У. Последний правитель У — Сунь Хао (孫皓) упорно защищался, но в конечном итоге был взят в плен. Цзиньцы отвезли его в Лоян, сохранив ему жизнь. На этом царство У прекратило своё существование.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/У_(Троецарствие)">Период Троецарствия, Царство У</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading28">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">265 — 316</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse28" aria-expanded="true" aria-controls="collapse28">
                              Эпоха Шести династий, Династия Западная Цзинь
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse28" class="collapse" aria-labelledby="heading28" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 西晉 / 西晋 / 西汉, <i>Пиньинь:</i> Xī Jìn, <i>Англ.:</i> Western Jin Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Sīmǎ (司馬 / 司马) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Лоян (пров. Хэнань)</p>
                  <p class="chrono desc">Империя Цзинь (кит. трад. 晉朝, пиньинь Jìn Cháo) — одно из государств эпохи Шести династий, существовало между периодом Троецарствия и периодом Южных и Северных династий в Китае в 265—420 годах. Государство Цзинь было основано военачальником Сыма Янем из рода Сыма (司馬 Sīmǎ). </p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Цзинь_(265—420)">Династия Западная Цзинь</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading29">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">317 — 420</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse29" aria-expanded="true" aria-controls="collapse29">
                              Эпоха Шести династий, Династия Восточная Цзинь и 16 царств
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse29" class="collapse" aria-labelledby="heading29" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 東晉 / 东晋 / 西汉, <i>Пиньинь:</i> Dōng Jìn, <i>Англ.:</i> Eastern Jin Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Sīmǎ (司馬 / 司马) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Цзянькан (Нанкин, пров. Цзянсу)</p>
                  <p class="chrono desc">Шестнадцать варварских государств (кит. 十六国, пиньинь: shí liù guó) — конгломерат государств, которые существовали на территории древнего Китая в 304—439 годах, образовавшись после распада Северного Китая.
                </p><p class="chrono desc">  
  Под варварскими царствами подразумевают Чэн, Северная Хань, Поздняя Чжао, Ранняя Лян, Поздняя Лян, Западная Лян, Северная Лян, Южная Лян, Ранняя Цинь, Поздняя Цинь, Западная Цинь, Ранняя Янь, Поздняя Янь, Северная Янь, Южная Янь, и Ся.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Шестнадцать_варварских_государств">Династия Восточная Цзинь и 16 царств</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading31">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">420 — 479</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse31" aria-expanded="true" aria-controls="collapse31">
                              Эпоха Шести династий, Период Южных династий, Династия Сун
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse31" class="collapse" aria-labelledby="heading31" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Liu Song</p>
                  <p class="chrono capital"><i>Столица:</i> Цзянькан (Нанкин, пров. Цзянсу)</p>
                  <p class="chrono desc">Династия Сун (кит. упр. 宋朝, пиньинь Sòng cháo) — первая из четырёх Южных династий. Основана в 420 году, когда власть в Восточной Цзинь перешла в руки Лю Юя. Столица — город Цзянькан (建康, совр. Нанкин).</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Лю_Сун">Период Южных династий, Династия Сун</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading32">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">479 — 502</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse32" aria-expanded="true" aria-controls="collapse32">
                              Эпоха Шести династий, Период Южных династий, Династия Ци
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse32" class="collapse" aria-labelledby="heading32" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Southern Qi</p>
                  <p class="chrono capital"><i>Столица:</i> Цзянькан (Нанкин, пров. Цзянсу)</p>
                  <p class="chrono desc">Династия Южная Ци (кит. упр. 齊朝, пиньинь Qí cháo)) — вторая из числа Южных династий в Китае, которую сменила династия Лян. Существовала в 479—502 годах. В продолжение своей 23-летней истории династия постоянно сталкивалась с нестабильностью. Фактически страной правило четыре императора и три краткосрочных несовершеннолетних правителя, которые были быстро смещены и убиты их покровителями чтобы освободить трон.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Южная_Ци">Период Южных династий, Династия Ци</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading33">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">502 — 557</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse33" aria-expanded="true" aria-controls="collapse33">
                              Эпоха Шести династий, Период Южных династий, Династия Лян
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse33" class="collapse" aria-labelledby="heading33" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Liang</p>
                  <p class="chrono capital"><i>Столица:</i> Цзянькан (Нанкин, пров. Цзянсу)</p>
                  <p class="chrono desc">Династия Лян (кит. упр. 梁朝, пиньинь Liáng cháo) (502—557), также известная как Южная Лян (南梁), была третьей из числа Южных династий в Китае, которую сменила династия Чэнь. Основателем династии был Сяо Янь из клана Сяо, который сначала взял в свои руки управление делами династии Южная Ци, а потом сместив императора создал свою династию как император У-ди. У-ди правил 47 лет до глубокой старости, в 548 году генерал Хоу Цзин из Восточной Вэй поднял мятеж, попросил подданства у Лян, а потом поднял мятеж против Лян, в результате занял императорский дворец в 549 году и стал распоряжаться императорами, смещая их один за другим. В 552 в результате восстания Хоу Цзин был убит, на трон вступил Сяо И, однако его правление и правление последующих двух императоров было краткосрочно и заканчивалось насильственным свержением.
                </p><p class="chrono desc">  
  Династия Западная (или Поздняя) Лян (西梁), со столицей в Цзянлине, основанная в 555 г. императором Сюань-ди, внуком основателя династии Лян императора У-ди, претендовала на то, чтобы считаться законной наследницей Лян; она последовательно подчинялась государствам Западная Вэй, Северная Чжоу, и Суй, и была ликвидирована императором Вэнь-ди в 587 г.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Лян_(династия)">Период Южных династий, Династия Лян</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading34">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">557 — 589</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse34" aria-expanded="true" aria-controls="collapse34">
                              Эпоха Шести династий, Период Южных династий, Династия Чэнь
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse34" class="collapse" aria-labelledby="heading34" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Chen</p>
                  <p class="chrono capital"><i>Столица:</i> Цзянькан (Нанкин, пров. Цзянсу)</p>
                  <p class="chrono desc">Династия Чэнь (кит. упр. 陳朝, пиньинь Chén cháo) — четвёртая и последняя из Южных династий в Китае, существовавшая в 557—589 годах. Уничтожена династией Суй.
                </p><p class="chrono desc">  
  На момент основания династии императором У-ди, её позиции были чрезвычайно слабы, она владела только небольшой частью территории предшествующей династии Лян, и та была опустошена войнами, приведшими к падению Лян. Однако преемники императора У-ди, Вэнь-ди и Сюань-ди, были способными правителями, и государство постепенно крепло и усиливалось, сравниваясь в силе со своими соперниками, Северной Чжоу и Северной Ци. Однако после того как Северная Чжоу уничтожила Северную Ци в 577 году, Чэнь оказалась загнанной в угол. Ещё хуже было то, что её последний император Чэнь Шубао оказался некомпетентным и нестрогим правителем, и Чэнь в конце концов была уничтожена империей Суй, сменившей Северную Чжоу.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Чэнь_(династия)">Период Южных династий, Династия Чэнь</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading35">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">386 — 534</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse35" aria-expanded="true" aria-controls="collapse35">
                              Эпоха Шести династий, Период Северных династий, Династия Северная Вэй
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse35" class="collapse" aria-labelledby="heading35" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Rise of Northern Wei</p>
                  <p class="chrono capital"><i>Столица:</i> Шэнлэ (Хэлингээр, авт. р-н Внутренняя Монголия)</p>
                  <p class="chrono desc">Империя Северная Вэй (кит. упр. 北魏, пиньинь Běi Wèi, 386—535), также известная как Тоба Вэй (拓拔魏) или Юань Вэй (元魏), наиболее известна объединением Северного Китая в 439 году; она также широко финансировала развитие искусств, многие произведения этого периода сохранились до наших дней. В 494 году империя перенесла столицу из Датуна в Лоян и начала строительство искусственных пещер Лунмэнь. В этих пещерах обнаружено свыше 30000 буддийских изображений, относящихся к периоду династии Северная Вэй. Считается, что империя основана родом Тоба, относившегося к монголоязычному племени сяньби. Род Тоба сменил своё родовое имя на Юань в процессе систематической китаизации. Ближе к концу империи произошёл значительный внутренний раскол, приведший империю к разделению на Западную Вэй и Восточную Вэй.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Северная_Вэй">Период Северных династий, Династия Северная Вэй</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading36">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">534 — 550</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse36" aria-expanded="true" aria-controls="collapse36">
                              Эпоха Шести династий, Период Северных династий, Династия Восточная Вэй
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse36" class="collapse" aria-labelledby="heading36" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Eastern Wei</p>
                  <p class="chrono capital"><i>Столица:</i> Е (Аньян, пров. Хэнань)</p>
                  <p class="chrono desc">Восточная Вэй (東魏 — Дун Вэй) — государство, существовавшее в 534—550 годах на территории Северного Китая, в период Нань-бэй чао.
                </p><p class="chrono desc">  
  Империя Восточная Вэй возникла в 534 году после распада северокитайского царства Северная Вэй. К этому времени, в результате внутренних смут, правивший на севере императорский род Юань (Тоба) фактически утратил власть, которая сосредоточилась в руках полководца Гао Хуаня (高歡). Император Сяо У-ди выступил против него, но был разбит и вынужден бежать в Гуаньчжун, ставший к тому времени центром империи Западная Вэй. Гао Хуань в том же году возвел на престол Восточной Вэй одного из принцев рода Юань, Юань Шаньцзяня, который стал императором Сяо Цзин-ди (孝靜帝) — первым и единственным императором Восточной Вэй. Однако никакой реальной властью он не обладал. Было организовано несколько кампаний против Западной Вэй, имевших целью воссоединение империи Северная Вэй, однако цель не была достигнута.
</p><p class="chrono desc">  
  В 547 году Гао Хуань умер. Его сыновья, Гао Чэн (高澄) и Гао Ян (高洋) сохранили контроль над императором, но в 550 году Гао Ян низложил Сяо Цзин-ди, провозгласил себя императором, и основал новую империю Ци (известную в истории как Северная Ци).</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Восточная_Вэй">Период Северных династий, Династия Восточная Вэй</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading38">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">535 — 557</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse38" aria-expanded="true" aria-controls="collapse38">
                              Эпоха Шести династий, Период Северных династий, Династия Западная Вэй
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse38" class="collapse" aria-labelledby="heading38" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Western Wei</p>
                  <p class="chrono capital"><i>Столица:</i> Чанъань (Сиань, пров. Шэньси)</p>
                  <p class="chrono desc">Западная Вэй (Си Вэй) — монгольское (сяньбийское) государство, существовавшее в 535—556 годах на территории Северного Китая, в период Нань-бэй чао.
                </p><p class="chrono desc"> 
  Империя Западная Вэй возникла в 534 году после распада империи Северная Вэй, когда император Сяо У-ди, спасаясь от диктатуры генерала Гао Хуаня (高歡), бежал из Лояна в Гуаньчжун. Однако и на западе вэйскому дому не удалось избавиться от опеки могущественных кланов. В 535 году правитель Гуаньчжуна Юйвэнь Тай убил императора Сяо У-ди и возвёл на трон в Чанъане другого принца из дома Юань (Тоба), Юань Баоцзюя, который стал императором Вэнь-ди (文帝).
</p><p class="chrono desc">  
  Правление Западной Вэй (при фактическим владычестве клана Юйвэнь) продолжалось двадцать с небольшим лет. Имея в своем распоряжении меньшую территорию и население, Западная Вэй смогла успешно противостоять наступлению империи Восточная Вэй, и, благодаря более развитой экономике, сумела захватить западные районы империи Лян (территорию нынешнего Сычуаня). В 557 году племянник Юйвэнь Тая, Юйвэнь Ху, низложил императора Гун-ди и возвел на трон Юйвэнь Цзюэ (宇文覺), сына Юйвэнь Тая, провозгласив основание нового государства (Северная Чжоу).</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Западная_Вэй">Период Северных династий, Династия Западная Вэй</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading37">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">550 — 577</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse37" aria-expanded="true" aria-controls="collapse37">
                              Эпоха Шести династий, Период Северных династий, Династия Северная Ци
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse37" class="collapse" aria-labelledby="heading37" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Northern Qi</p>
                  <p class="chrono capital"><i>Столица:</i> Е (Аньян, пров. Хэнань)</p>
                  <p class="chrono desc">Северная Ци (кит. упр. 北齊, пиньинь Běiqí, палл. бэй ци) — одно из государств эпохи Северных и южных династий в Северном Китае в 550—577 годах. Возникло на месте государства Восточная Вэй после того как сын главнокомандующего Восточной Вэй Гао Хуаня, Гао Ян, низложил его императора Сяо Цзин-ди в 550 году и провозгласил себя императором Северной Ци под именем Вэнь Сюань-ди (Северная Ци).
                </p><p class="chrono desc">  
  Владычество Северной Ци было отмечено произволом и некомпетентностью императоров (Вэнь Сюань-ди, У Чэн-ди, и Гао Вэя), продажностью чиновников и разложением армии. Хотя Северная Ци была самым сильным царством Китая на момент своего основания (по сравнению с Северной Чжоу и Чэнь), она постепенно пришла в упадок и была уничтожена Северной Чжоу в 577 году в союзе с Тюркским Каганатом. (Сын императора Вэнь Сюань-ди Гао Шаои, Фаньянский ван, бежал под защиту тюрок и впоследствии провозгласил себя императором Северной Ци в изгнании, но в 580 году был выдан тюрками Северной Чжоу и сослан в нынешнюю Сычуань. Ученые не пришли к единому мнению по вопросу, считать ли Гао Шаои законным императором Северной Ци, однако все согласились считать 577 год последним годом истории этого царства). Северная Чжоу выплачивала дань тюркам в виде 100 тысяч кусков шелковой ткани ежегодно, за что правители этого государства рассчитывали покончить с помощью тюрок с Северной Ци. После падения государства Северной Ци, тюркский каган понял, что усиливать своего сюзерена Северное Чжоу нельзя и провозгласил законным наследником Северной Ци бежавшего к ним сына императора Вэнь Сюань-ди.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Северная_Ци">Период Северных династий, Династия Северная Ци</a></p>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-header py-0" id="heading39">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">557 — 581</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse39" aria-expanded="true" aria-controls="collapse39">
                              Эпоха Шести династий, Период Северных династий, Династия Северная Чжоу
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse39" class="collapse" aria-labelledby="heading39" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Англ.:</i> Northern Zhou</p>
                  <p class="chrono capital"><i>Столица:</i> Чанъань (Сиань, пров. Шэньси)</p>
                  <p class="chrono desc">Северная Чжоу — тобасское государство периода Северных и южных династий в Северном Китае в 557—581 годах. Возникло на месте государства Западная Вэй. Впоследствии его сменила здесь династия Суй.
                </p><p class="chrono desc">  
  Основание власти Северной Чжоу было положено Юйвэнь Таем, главнокомандующим Западной Вэй, в годы, последовавшие за разделом империи Северная Вэй на Западную Вэй и Восточную Вэй в 535 году. После смерти Юйвэнь Тая в 556 году его племянник Юйвэнь Ху принудил императора Гун-ди к отречению в пользу сына Юйвэнь Тая, Юйвэнь Цзюэ (императора Сяо Минь-ди), основав династию Северная Чжоу. Царствования первых трех императоров (сыновей Юйвэнь Тая) — Сяо Минь-ди, Мин-ди и У-ди, — прошли под реальной властью Юйвэнь Ху, до самой его смерти в 572 году (он был убит, попав в засаду, устроенную императором У-ди, который с этого времени стал править самостоятельно). Под властью способного императора У-ди Северная Чжоу в 577 году уничтожила своего соперника — империю Северная Ци, присоединив её территорию. Однако смерть императора У-ди в 578 году оказалась роковой для государства, так как его сын, император Сюань-ди был своевольным и жестоким правителем, чье экстравагантное поведение привело к ослаблению государства. После смерти Сюань-ди в 580 году (когда он уже официально носил титул императора в отставке (тайшан-хуан)), тесть императора, Ян Цзянь, взял власть в свои руки, а в 581 году сместил сына Сюань-ди, императора Цзин-ди, основав империю Суй. Императорский род Юйвэнь, вместе с юным императором Цзин-ди, был впоследствии истреблен Ян Цзянем.
</p><p class="chrono desc">  
  С 576 года государство ежегодно выплачивало дань Тюркскому Каганату в виде 100 тысяч кусков шелковой ткани. За что тюрки помогали ей совершать походы в глубь территории Бэй Ци.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Северная_Чжоу">Период Северных династий, Династия Северная Чжоу</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading40">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">581 — 618</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse40" aria-expanded="true" aria-controls="collapse40">
                              Династия Суй
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse40" class="collapse" aria-labelledby="heading40" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 隋 / 西汉, <i>Пиньинь:</i> Suí, <i>Англ.:</i> Sui Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Yáng (楊 / 杨) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Чанъань (Сиань, пров. Шэньси)</p>
                  <p class="chrono desc">Империя Суй (кит. упр. 隋, пиньинь Suí) — китайское государство, существовавшее в 581—618 годах и объединившее страну после продолжительного периода смуты. Осуществила ряд социально-экономических реформ и крупных строительных проектов.
                </p><p class="chrono desc">   
  Продолжительным наследием династии Суй был Большой канал. С восточной столицей Лоян в центре сети, она связывала западную столицу Чанъань с экономическими и сельскохозяйственными центрами Востока в направлении Ханчжоу и с северной границей близ современного Пекина. В то время как насущные первоначальные мотивы заключались в отправке зерна в столицу, а также в транспортировке войск и военной логистике, надежные внутренние транспортные связи облегчили внутреннюю торговлю, поток людей и культурный обмен на протяжении веков. Наряду с расширением Великой Китайской стены и строительством восточной столицы Лояна, эти мегапроекты, возглавляемые эффективной централизованной бюрократией, собирали миллионы призванных рабочих из большой базы населения, что стоило больших человеческих жизней.
</p><p class="chrono desc"> 
  После серии дорогостоящих и катастрофических военных кампаний против Когурё, одного из Трех корейских государств, завершившись поражением в 614 году, династия распалась в результате серии народных восстаний, кульминацией которых стало убийство императора Яна его министрами в 618 году. Династия, просуществовавшая всего тридцать семь лет, была подорвана грандиозными войнами и строительными проектами, которые истощили ее ресурсы. </p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Суй">Династия Суй</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading41">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">618 — 907</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse41" aria-expanded="true" aria-controls="collapse41">
                              Династия Тан
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse41" class="collapse" aria-labelledby="heading41" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 唐  / 西汉, <i>Пиньинь:</i> Táng, <i>Англ.:</i> Tang Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Lǐ (李) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Чанъань (Сиань, пров. Шэньси)</p>
                  <p class="chrono desc">Империя Тан (18 июня 618 — 4 июня 907, кит. 唐朝, Танчао) — китайская империя, основанная Ли Юанем. Его сын, император Ли Шиминь, после окончательного подавления крестьянских восстаний и сепаратистских феодальных сил начал проводить прогрессивную политику. Танский период стал эпохой расцвета средневекового Китая, именно эпоха Тан традиционно считается в Китае периодом наивысшего могущества страны, когда она опережала в развитии все современные ей страны мира.
                </p><p class="chrono desc">  
  Семья Ли (李) основала династию, захватив власть во время упадка и распада империи Суй. Династия была ненадолго прервана, когда императрица У Цзэтянь захватила трон, провозгласив династию У Чжоу и став единственной законной китайской императрицей-регентшей. В двух переписях VII и VIII веков записи династии Тан оценивали численность населения по числу зарегистрированных домашних хозяйств примерно в 50 млн человек. И даже когда центральная власть была ослаблена и правительство не смогло провести точную перепись населения в IX веке, считается, что население выросло к тому времени примерно до 80 млн человек.
</p><p class="chrono desc">  
  Период прогресса и стабильности в первой половине эпохи Тан завершился опустошительным восстанием Ань Лушаня (755—763) и сменился упадком центральной власти во второй половине династии. Как и предыдущая династия Суй, династия Тан поддерживала систему государственной службы, набирая учёных-чиновников с помощью стандартизированных экзаменов и рекомендаций на должность. Возвышение региональных военных губернаторов, известных как цзедуши, в IX веке подорвало этот гражданский порядок. Китайская культура процветала и развивалась в эпоху Тан; это традиционно считается величайшим периодом китайской поэзии. Два самых известных поэта Китая, Ли Бо и Ду Фу, принадлежали к этой эпохе, как и многие известные художники, такие как Хань Гань, Чжан Сюань и Чжоу Фан. Учёные этого периода собрали богатую разнообразную историческую литературу, а также энциклопедии и географические труды. Принятие титула Небесного Хана танским императором Тайцзуном в дополнение к его титулу императора было первым «одновременным царствованием» в Восточной Азии.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Империя_Тан">Династия Тан</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading43">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">907 — 923</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse43" aria-expanded="true" aria-controls="collapse43">
                              Эпоха 5-ти династий и 10-ти царств, Династия Поздняя Лян
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse43" class="collapse" aria-labelledby="heading43" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono capital"><i>Столица:</i> Лоян (пров. Хэнань)</p>
                  <p class="chrono desc">Абаоцзи (Елюй Амбагай) (храмовое имя — Тай-цзу, кит. 太祖) (кит. 耶律阿保磯; ок. 872-926) — вождь племени киданей Ила-Абуги, император киданей с 907 года, основатель династии Ляо.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Абаоцзи">Династия Поздняя Лян</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading44">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">923 — 936</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse44" aria-expanded="true" aria-controls="collapse44">
                              Эпоха 5-ти династий и 10-ти царств, Династия Поздняя Тан
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse44" class="collapse" aria-labelledby="heading44" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono desc">Династия Поздняя Тан (Хоу Тан) — недолговечная династия, правившая с 923 по 936 г., вторая из пяти династий периода Пяти династий и десяти царств. Она также была первой из трех последовательных династий, основанных тюрками-шато. На пике своего могущества она контролировала бо́льшую часть Северного Китая.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Поздняя_Тан">Династия Поздняя Тан</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading45">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">936 — 946</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse45" aria-expanded="true" aria-controls="collapse45">
                              Эпоха 5-ти династий и 10-ти царств, Династия Поздняя Цзинь
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse45" class="collapse" aria-labelledby="heading45" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono desc">Династия Поздняя Цзинь (кит. трад. 後晉, упр. 后晋, пиньинь Hòu Jìn) (936—947) — одна из Пяти династий периода Пяти династий и десяти царств в Китае. Её основатель — Ши Цзинтан (посмертное имя Гао-цзу).</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Поздняя_Цзинь_(936—947)">Династия Поздняя Цзинь</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading46">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">947 — 950</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse46" aria-expanded="true" aria-controls="collapse46">
                              Эпоха 5-ти династий и 10-ти царств, Династия Поздняя Хань
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse46" class="collapse" aria-labelledby="heading46" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono desc">Династия Поздняя Хань (кит. упр. 后汉, пиньинь Hòu Hàn) была основана в 947 г. Она была четвертой из Пяти династий и третьей в ряду последовательных династий, основанных тюрками-шато. Поздняя Хань оказалась одной из самых недолговечных династий в истории Китая, просуществовав всего три года и лишившись власти в результате восстания, приведшего к основанию династии Поздняя Чжоу.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Поздняя_Хань_(947—950)">Династия Поздняя Хань</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading47">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">951 — 960</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse47" aria-expanded="true" aria-controls="collapse47">
                              Эпоха 5-ти династий и 10-ти царств, Династия Поздняя Чжоу
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse47" class="collapse" aria-labelledby="heading47" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono desc">Династия Поздняя Чжоу (кит. упр. 后周, пиньинь Hòu Zhōu) — последняя в ряду пяти династий, контролировавших бо́льшую часть Северного Китая в период Пяти династий и десяти царств (907—960) между династиями Тан и Сун.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Поздняя_Чжоу">Династия Поздняя Чжоу</a></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header py-0" id="heading49">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">960 — 1127</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse49" aria-expanded="true" aria-controls="collapse49">
                              Династия Сун, Династия Северная Сун
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse49" class="collapse" aria-labelledby="heading49" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 北宋, <i>Пиньинь:</i> Běi Sòng, <i>Англ.:</i> Northern Song Dynasty</p>
                  <p class="chrono desc">Империя Сун (кит. упр. 宋朝, пиньинь Sòng Cháo, палл. Сун чао) — государство в Китае, существовавшее с 960 по 1279. Правящая династия — Чжао (趙), по фамилии рода государей.
                </p><p class="chrono desc">  
  Основание империи положило конец раздробленности Китая, продолжавшейся со времени падения империи Тан (唐朝) в 907 году. Появлению империи предшествовала Эпоха пяти династий и десяти царств (五代十国). Переломным моментом в истории династии является 1127 год, когда войска чжурчжэньского государства Цзинь захватили столицу империи, Бяньлян. Императорский дом был уведён в плен в Маньчжурию, но одному из сыновей отрёкшегося монарха удалось бежать на юг, в Цзяннань. Он перенёс столицу в Линьань, а его военачальник Юэ Фэй остановил дальнейшее продвижение чжурчжэней на юг. Таким образом, история Сун делится на Северный и Южный периоды, соответственно, до и после переноса столицы.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Империя_Сун">Династия Северная Сун</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading50">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1127 — 1279</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse50" aria-expanded="true" aria-controls="collapse50">
                              Династия Сун, Династия Южная Сун
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse50" class="collapse" aria-labelledby="heading50" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 南宋, <i>Пиньинь:</i> Nán Sòng, <i>Англ.:</i> Southern Song Dynasty</p>
                  <p class="chrono desc">Сун потеряла контроль над традиционной «родиной китайской цивилизации» вдоль Хуанхэ, экономика Сун все еще была сильной, поскольку в империи Южная Сун было большое население и производительные сельскохозяйственные земли. Южная Сун значительно укрепила свои военно-морские силы для защиты своих водных и сухопутных границ и проведения морских миссий за рубежом. Чтобы дать отпор Цзинь, а затем и монголам, Сун разработала революционно новую военную технологию, дополненную использованием пороха. В 1234 году империя Цзинь была завоевана монголами, которые взяли под свой контроль Северный Китай, поддерживая непростые отношения с Южной Сун. Мунке, четвёртый великий хан Монгольской империи, умер в 1259 году во время осады горной крепости Дяоюй в Сычуани. Его младший брат Хубилай был провозглашен новым великим ханом, хотя его притязания были лишь частично признаны монголами на западе. В 1271 году Хубилай был провозглашен императором Китая. После двух десятилетий спорадических войн армии Хубилая завоевали Сун в 1279 году. Монгольское нашествие привело к объединению при империи Юань (1271—1368).
</p><p class="chrono desc">  
  Население Китая удвоилось в течение IX, X и XI веков. Этот рост стал возможен благодаря расширенному выращиванию риса в центральной и южной частях Сун, использованию раннеспелого риса из Юго-восточной и Южной Азии и производству широко распространенных излишков продовольствия. Перепись Северной Сун зарегистрировала 20 миллионов домашних хозяйств, что вдвое больше, чем при династиях Хань и Тан. По оценкам, Северная Сун имела население около 120 миллионов человек и 200 миллионов ко времени империи Мин. Этот резкий рост населения спровоцировал экономическую революцию в досовременном Китае. Увеличение населения, рост городов, возникновение национальной экономики привели к постепенному отходу центральной власти от прямого участия в экономических делах.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Империя_Сун">Династия Северная Сун</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading53">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1115 — 1234</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse53" aria-expanded="true" aria-controls="collapse53">
                              Династия Цзинь
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse53" class="collapse" aria-labelledby="heading53" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 金 / 西汉, <i>Пиньинь:</i> Jīn, <i>Англ.:</i> Jin Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Wanggiyan (; 完顏 / 完颜) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Хуэйнин (Ачэн, пров. Хэйлунцзян)</p>
                  <p class="chrono desc">Государство Цзинь (кит. упр. 金朝, пиньинь Jīn Cháo, букв. Золотая) — чжурчжэньское государство, существовавшее на территории северного Китая в XII—XIII веках.
                </p><p class="chrono desc">  
  Основателем государства Цзинь был Агуда (阿骨打) из клана Ваньянь (完颜), территория влияния которого изначально ограничивалась бассейном реки Амур. </p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Цзинь_(1115—1234)">Династия Цзинь</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading54">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1279 — 1368</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse54" aria-expanded="true" aria-controls="collapse54">
                              Династия Юань
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse54" class="collapse" aria-labelledby="heading54" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 元  / 西汉, <i>Пиньинь:</i> Yuán, <i>Англ.:</i> Yuan Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Borjigin (ᠪᠣᠷᠵᠢᠭᠢᠨ; 孛兒只斤 / 孛儿只斤) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Яньцзин (Пекин)</p>
                  <p class="chrono desc">Импе́рия Юа́нь (Их Юань улс.PNG монг. Их Юан Улс, Великое Юаньское государство, Dai Ön Yeke Mongghul Ulus.PNG Dai Ön Yeke Mongghul Ulus; кит. упр. 元朝, пиньинь Yuáncháo) — монгольское государство, основной частью территории которого был Китай (1271—1368). Основано внуком Чингисхана, монгольским ханом Хубилаем, который завершил завоевание Китая в 1279 году. Империя пала в результате восстания Красных повязок в 1351—1368 годах. Официальная китайская история этой империи записана при последующей империи Мин и носит название «Юань ши».
                </p><p class="chrono desc">  
  Хотя монголы десятилетиями правили территориями, включая современный Северный Китай, только в 1271 году Хубилай-хан официально провозгласил династию в традиционном китайском стиле, и завоевание не было завершено до 1279 года, когда Южная Сун потерпела поражение в битве при Ямынь. К этому времени его владения были изолированы от других монгольских ханств и контролировали большую часть современного Китая и прилегающих к нему территорий, включая современную Монголию. Это была первая некитайская династия, правившая всем Китаем и просуществовавшая до 1368 года, когда династия Мин нанесла поражение силам Юань. После этого обличенные правители Чингизиды отступили на свою монгольскую родину и продолжали править как Северная Юань.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Юань_(империя)">Династия Юань</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading55">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1368 — 1644</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse55" aria-expanded="true" aria-controls="collapse55">
                              Династия Мин
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse55" class="collapse" aria-labelledby="heading55" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 明 / 西汉, <i>Пиньинь:</i> Míng, <i>Англ.:</i> Ming Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Zhū (朱) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Пекин</p>
                  <p class="chrono desc">Великая Минская империя (кит. трад. 大明帝國, упр. 大明帝国, пиньинь Dà Míng Dìguó, палл. да мин диго) — государство, образовавшееся на китайских землях после свержения власти монгольской империи Юань. Существовало с 1368 года по 1644 год. Несмотря на то, что минская столица Пекин пала в 1644 году в результате восстания Ли Цзычэна, часть страны оставалась под контролем лояльного к минской семье режима (Южная Мин) до 1662 года.
</p><p class="chrono desc">  
  В империи Мин был построен флот и создана постоянная армия, общая численность которой достигала миллиона человек. Частный сектор земельных владений в результате продолжительных войн сократился до одной трети всей обрабатываемой площади, в противовес чему возрос государственный сектор. По сути, в империи победила надельная система, хотя её установление формально и не было объявлено. Была проведена жёсткая централизация управления, предпринимались попытки регламентировать все сферы жизни граждан. Несмотря на успешное правление первых двух императоров — Чжу Юаньчжана и его сына Чжу Ди — со временем в государственном аппарате империи появились признаки разложения, и к началу XVII века он уже был насквозь пропитан коррупцией, императоры мало интересовались политикой, и вся высшая власть была сосредоточена в руках их многочисленного окружения (родственников, евнухов и придворных). Кризис затронул также аграрные отношения: после тотальной приватизации земли приближёнными императоров государственный сектор практически исчез. Минский Китай начал проводить политику самоизоляции. В это время на северо-восточных окраинах Китая возникло молодое, но сильное государство маньчжуров под властью клана Нурхаци. Воспользовавшись крестьянским восстанием Ли Цзычэна, они захватили Пекин и присоединили Китай к маньчжурской империи Цин.
</p><p class="chrono desc">  
  После падения столицы и смерти императора Чжу Юцзяня, покончившего жизнь самоубийством, властители оставшихся под контролем Мин Нанкина, Фуцзяня, Гуандуна, Шаньси и Юньнаня так и не смогли скоординировать свои действия и к 1662 году один за другим пали под натиском маньчжуров. Один из главнокомандующих Южной Мин, Чжэн Чэнгун, сознавая бесперспективность борьбы против маньчжуров на материке, решил оставить материк (сохранив за собой две базы — Сямэнь и Цзиньмэнь), изгнать голландцев с Тайваня и превратить этот остров в основную базу войны против завоевателей. Формально Тайвань стал считаться частью империи Мин, но после казни последнего законного минского императора Чжу Юлана Чжэн не хотел больше никого признавать в качестве монарха. Так возник редко встречающийся в мировой истории курьёз — «монархия без монарха»; вся реальная власть на острове принадлежала «главнокомандующему-усмирителю» Чжэн Чэнгуну, фактически основавшему новую династию. Чжэны правили Тайванем и воевали с маньчжурами под флагом империи Мин ещё двадцать лет.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Империя_Мин">Династия Мин</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading56">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1644 — 1911</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse56" aria-expanded="true" aria-controls="collapse56">
                              Династия Цин
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse56" class="collapse" aria-labelledby="heading56" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 清 / 西汉, <i>Пиньинь:</i> Qīng, <i>Англ.:</i> Qing Dynasty</p>
                  <p class="chrono clan"><i>Правящий дом или клан:</i> Aisin Gioro (ᠠᡳᠰᡳᠨ ᡤᡳᠣᡵᠣ; 愛新覺羅 / 爱新觉罗) <i>(Пиньинь-Китайский)</i></p>
                  <p class="chrono capital"><i>Столица:</i> Пекин</p>
                  <p class="chrono desc">Империя Великая Цин, или государство Великая Цин (маньчж. Daicing gurun.svg дайцин гурунь, кит. трад. 大清國, упр. 大清国, палл. Да Цин го), часто неправильно именуемая как династия Цин, или Маньчжурская династия, — последняя империя, включавшая территорию Китая. Империя Цин существовала на собственно китайских землях с 1644 по 1912 год с краткой реставрацией в 1917 (последняя продлилась всего 11 дней), ей на этих землях предшествовала империя Мин, а сменила её Китайская республика. Мультикультурная Цинская империя существовала в течение почти трёх веков и сформировала территориальную базу для современного китайского государства.
</p><p class="chrono desc">  
  Империя была основана чжурчжэньским кланом Айсиньгьоро из Маньчжурии. В конце XVI века вассал империи Мин Айсиньгьоро Нурхаци начал объединять чжурчжэньские кланы в так называемую «Восьмизнамённую армию». Нурхаци сформировал из них не только военную силу, но и социальную общность, которая стала известна как Маньчжуры. В 1616 году Нурхаци провозгласил воссоздание чжурчжэньского государства Цзинь (в истории стало известно как «Поздняя Цзинь»), а себя объявил его ханом.
</p><p class="chrono desc">  
  К 1636 году его сын Айсиньгьоро Абахай начал вытеснять силы Мин из Ляонина и провозгласил новую империю Цин. В 1644 году крестьянская повстанческая армия, возглавляемая Ли Цзычэном, захватила столицу страны Пекин. Минский генерал У Саньгуй вступил в сговор с маньчжурами и открыл Шанхайский проход восьмизнамённой армии под командованием принца Доргоня, который нанёс повстанцам поражение и выбил их из Пекина. Маньчжурское завоевание Китая продолжалось до 1683 года и закончилось только во времена императора Канси (правил в 1661—1722). Десять великих походов императора Цяньлуна, которые он организовал в 1750—1790-е, расширили зону влияния Китая в Центральной Азии. Хотя ранние правители империи Цин продолжали придерживаться маньчжурского образа жизни и, нося официальный титул императора, продолжали оставаться одновременно ханами монголов и оказывать покровительство буддизму в Тибете, они правили страной, используя конфуцианский подход и бюрократический аппарат, традиционный для Китая. Они сохранили и использовали традиционную систему экзаменов, чтобы рекрутировать китайцев-хань в государственный аппарат, и прониклись идеалами вассальных отношений с близлежащими странами, привычных со времён прежней империи. В таких регионах, как Тайвань, внешняя политика цинских владык была похожа на колониальную.
</p><p class="chrono desc">    
  Правление императора Цяньлуна (1735—1796) стало апогеем имперского могущества, с которого начался закат Цин. Население империи выросло до примерно 400 миллионов человек, но налоги и сборы оставались низкими, что заложило основу для будущих проблем и кризиса. Коррупция была повсеместной, а повстанцы бросали вызов правительству, в то время как правящая элита не желала менять свои взгляды в ногу со временем перед лицом изменений, которые происходили в мире. Победив Китай в первой из опиумных войн, европейские державы заключили с ним неравноправные договоры, введя свободную торговлю, экстерриториальность и свободные порты, находившиеся под иностранным контролем. Восстание тайпинов (1850—1864) и Дунганское восстание в Центральной Азии стоили жизни 20 миллионам человек. Все эти бедствия привели к консолидации элит общества и попыткам экстренных реформ. Однако их первые результаты были уничтожены поражением Китая в Первой японо-китайской войне. Разгром 1895 года привёл к потере империей контроля над Тайванем и влияния в Корее. Последовала военная реорганизация, но амбициозные Сто дней реформ 1898 года провалились из-за противостояния им императрицы Цыси, жестокого, но эффективного лидера. Затем, противодействуя Боксёрскому восстанию, восемь иностранных держав вторглись в Китай. Цыси объявила им войну, проиграла, и императорский двор вынужден был покинуть столицу.
  </p><p class="chrono desc">  
  Дав согласие подписать Заключительный протокол, правительство затем инициировало беспрецедентные налоговые и административные реформы в стране, включавшие выборы, новый свод законов и отмену системы государственных экзаменов. Сунь Ятсен и другие революционеры соревновались с такими реформаторами, как Лян Цичао и монархистами вроде Кан Ювэя в своих попытках трансформировать Цинскую монархию в современное государство. После смерти императора Гуансюя и императрицы Цыси в 1908 бескомпромиссный маньчжурский суд остановил реформы. 11 октября 1911 начались волнения, которые переросли в Синьхайскую революцию. Пу И, последний император, отрёкся от престола 12 февраля 1912 года.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Империя_Цин">Династия Цин</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading57">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1912 — 1949</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse57" aria-expanded="true" aria-controls="collapse57">
                              Китайская Республика
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse57" class="collapse" aria-labelledby="heading57" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 中华民国</p>
                  <p class="chrono capital"><i>Столица:</i> Пекин</p>
                  <p class="chrono desc">Китайская Республика — государство в Восточной Азии, которое существовало с 1912 по 1949 гг. Оно включало современные территории континентального Китая и некоторые исторические: Монголия и Тайвань. Республике Китай предшествовала последняя китайская императорская династия, династия Цин, и её исчезновение ознаменовало конец гражданской войны в Китае, после которой Гоминьдан вынужден был отступить на остров Тайвань, в то время как Коммунистическая партия Китая провозгласила на материковой части Китайскую Народную Республику.</p>
                  <p class="chrono wiki">Подробнее см. <a href="https://ru.wikipedia.org/wiki/Китайская_республика_(1912—1949)">Китайская Республика</a></p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading58">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1949-ныне</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse58" aria-expanded="true" aria-controls="collapse58">
                              КНР
                     </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse58" class="collapse" aria-labelledby="heading58" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 中华人民共和国</p>
                  <p class="chrono capital"><i>Столица:</i> Пекин</p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header py-0" id="heading59">
        <h5 class="my-0">
                      <div class="row">
                  <div class="col-sm-4 d-flex align-items-center">1912 — ныне</div>
                  <div class="col-sm-17  d-flex align-items-center">
                     <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse59" aria-expanded="true" aria-controls="collapse59">
                              Китайская Республика - КНР
                    </button>
                     </div>
                  </div>
        </h5>
      </div>
      <div id="collapse59" class="collapse" aria-labelledby="heading59" data-parent="#accordion">
        <div class="card-body">
                  <p class="chrono names"><i>Кит.:</i> 中华民国 - 中华人民共和国</p>
                  <p class="chrono capital"><i>Столица:</i> Пекин</p>
        </div>
      </div>
    </div>
  
  
  
  </div>
  <!-- accordion -->
   
    </div>
</div>
{% endblock %}