<!-- footer_root.html.twig-->
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted tip" id="footer" data-tip="tip-footer">&copy; Copyright</span>
        <div id="tip-footer" class="tip-content">
            <p>Все права принадлежат соответствующим авторам, переводчикам, составителям и издателям.</p>
        </div>
        <span class="text-muted contactForm" id="contactForm" name="contactForm">

    <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
    <script type="text/javascript">
        var JFL_251145020847046 = new JotformFeedback({
          formId: '251145020847046',
          base: 'https://form.jotform.com/',
          windowTitle: 'Обратная связь',
          backgroundColor: '#f2ca06',
          fontColor: '#FFFFFF',
          type: 'false',
          height: 700,
          width: 700,
          openOnLoad: false
        });
    </script>
    <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='251145020847046']", "https://form.jotform.com/")</script>
      <a class="btn lightbox-251145020847046"
      style="
      font-size: 1 rem;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      line-height: 1.5;
      font-family: 'Times New Roman';
      text-shadow: none;
      user-select: none;
      transition: all,.1s,ease-in;
      color: #b99b02;
      ">
        Пишите нам
      </a>
    </span>
    </div>
</footer>
</body>
</html>