<!-- footer_root.html.twig-->
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted tip" id="footer" data-tip="tip-footer">&copy; Copyright</span>
        <div id="tip-footer" class="tip-content">
            <p>Все права принадлежат соответствующим авторам, переводчикам, составителям и издателям.</p>
        </div>
        <span class="text-muted contactForm" id="contactForm" name="contactForm">
        <a class="lightbox-text-link" href="/contactus.php">Пишите нам</a>
<!-- www.123formbuilder.com script begins here><script type="text/javascript" defer src="//www.123formbuilder.com/embed/5342096.js?type=lightbox" data-role="form" data-default-width="650px" data-embed-type="lightbox-text-link" data-embed-text-link="Пишите нам"></script><www.123formbuilder.com script ends here -->
      </span>
    </div>
</footer>
</body>
</html>