<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.png" type="image/png"> 
    <meta name="description" content="Антология современной и старинной китайской поэзии">
    <meta name=”robots” content="index, follow">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chinesepoetry2.css">
    <link rel="stylesheet" href="/css/chinesepoetry.css">
    <link href="/mistakes/mistakes.css" rel="stylesheet" type="text/css" />

    <title>{{ title }}</title>
</head>

<body>