<!DOCTYPE html>
<html>
<head>
    <!-- head_root.html.twig-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.png" type="image/png"> 
    <meta name="description" content="Антология современной и старинной китайской поэзии">
    <meta name=”robots” content="index, follow">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/chinesepoetry2.css">
    <link rel="stylesheet" type="text/css" href="/css/chinesepoetry.css">
    <link rel="stylesheet" type="text/css" href="/mistakes/mistakes.css">

    <title>{{ title }}</title>
</head>
<body>