{% extends 'page_root.html.twig' %} 
{% block content %}
<!-- poem.html.twig-->
<div class="jumbotron" id="home_jumbotron">
    <div class="row">
        <div class="col-8 mx-auto">
            <h1 class="text-center" style="text-decoration:none;margin-bottom:20px;margin-top:0">О проекте "Китайская поэзия"</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <img class="d-block w-100" src="./images/c4.jpg" alt="Китайская поэзия">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./images/c2.jpg" alt="Китайская поэзия">
              </div>
              <!--div class="carousel-item">
                <img class="d-block w-100" src="./images/c3.jpg" alt="Китайская поэзия">
              </div-->
              <div class="carousel-item">
                <img class="d-block w-100" src="./images/c1.jpg" alt="Китайская поэзия">
              </div>
              <!--div class="carousel-item">
                <img class="d-block w-100" src="./images/c5.jpg" alt="Китайская поэзия">
              </div-->
              <div class="carousel-item">
                <img class="d-block w-100" src="./images/c6.jpg" alt="Китайская поэзия">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./images/c7.jpg" alt="Китайская поэзия">
              </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <p>&nbsp;</p>
			<p class="t22">
				Как это часто бывает "путешествие в тысячу ли начинается с одного шага", иногда даже "с пяди под ступнёю."
			</p>
			<p class="t22">
				Наше путешествие в китайскую поэзию длиною в несколько тысяч стихов началось с двух строчек, особенно запавших в душу под мексиканским солнцем:
            </p>
            <p>&nbsp;</p>
			<p class="t22">
				<i>"Так жарко мне -</i>
			</p>
			<p class="t22">
				<i>Лень веером взмахнуть..."</i>
			</p>
			<p style="text-indent: 30pt;font-size: 0.9em;">
				<a href="./poems.php?action=show&poem_id=1409">Ли Бо "Летним днем в горах", переводчик: А.И. Гитович</a>
			</p>
            <p>&nbsp;</p>
			<p class="t22">
				Со временем, захотелось запомнить уже несколько стихотворений, но они оказались в разных книгах - и таскать неудобно, и перелизать из одной книги в другую во время езды за рулем - не очень неостроумно. Придумалось распечатать стихи на небольших листочках, держать их под рукой, заглядывать в них украдкой на светофорах и потихоньку заучивать.
			</p>
			<p class="t22">
				Но, понравившихся стихов становилось больше, выяснилось, что не все тексты можно найти в сети (не перепечатывать же их "двумя пальцами"), и постепенно, с количеством стихов и затраченного времени на их поиски, подумалось, а, может быть, собранное пригодится еще кому-нибудь: студенту, влюбленной девушке, романтику по восточному колориту... И, как-то само собой, стали собираться не только тексты стихов, но и сведения об авторах, их портреты, биографии переводчиков, данные по источникам&hellip;
			</p>
			<p class="t22">
				Постепенно собралась библиотека почти всех опубликованных сборников и монографий с русскоязычными переводами китайских стихов. Каждый сборник вычитывался полностью даже, если это было переиздание уже проштудированной книги. Каждое выбранное стихотворение помечалось, сканировалось, распознавалось и укладывалось в изборник "Любимое".
			</p>
			<p class="t22">
				"Любимое" быстро переросло в "Антологию", а "Антология" - вот в этот портал "Китайская поэзия". И сегодня в этой работе начинает просматриваться перспектива "Энциклопедии русских переводов китайской поэзии". Звучит громко, но неизбежно. Если время не остановится.
			</p>
			<p class="t22">
				Изменился и подход к выбору стихов: первоначально - только то, что очень понравилось, потом - просто понравилось, а со второй половины путешествия - все, что дополняет общую картину разнообразия китайской поэзии в жанрах, темах, в глубине исторического охвата.
			</p>
			<p class="t22">
				Портал "Китайская поэзия" в его сегодняшнем, и завтрашнем, и послезавтрашнем виде, очень хочется верить, никогда не будет закончен: ни по форме, ни по полноте данных, ни по функциональным возможностям. Таково, по меньшей мере, желание создателей портала, и, не в меньшей степени, надежда, что посетители портала не откажутся покритиковать, посоветовать, поправить, указать на ошибки, поделиться отсутствующей информацией - одним словом, стать соучастниками этой интересной и полезной работы.
			</p>
        </div>
    </div>
</div><!-- jumbotron -->        
{% endblock %}
