{% extends 'page_root.html.twig' %} {% block content %}
<div class="jumbotron" id="authors_jumbotron">
    <div class="row">
        <div class="col-8 mx-auto">
            <h4 class="authors header" id="authors_header">{{ header }}</h4>
            {% if showall %}
            <div id="translators_content_table">
            <ol>
                {% for record in records %}
                <li class="translators list"><a href="./translators.php?action=show&record_id={{ record[0] }}">{{ record[1] }}</a></li>
                {% endfor %}
            </ol>
            </div>
            {% elseif search %}
            <form action="./translators.php?action=search&posted=1" method="POST">
                <div class="form-group">
                    <label for="inputPattern">Введите слово или словосочитание для поиска</label>
                    <input type="text" class="form-control" name="pattern" id="inputPattern" placeholder="Ефрон" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}